@import "./MainLayout/";

.slider-container {
  max-width: 100%;
  padding-top: 16px;
  // .slick-slide {
  //   width: 892px!important;
  // }

  .slick-dots.slick-thumb {
    li {
      width: 60px;
    }
  }
}
